 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Surge Velocity, LLC is dedicated to creating unique and professional applications to solve a variety of needs and use cases. We thrive in web and mobile application development, especially in the video game entertainment industry.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our projects have received thousands of downloads and millions of views. We experience interactions with over 300,000 unique users. View our projects for more information.</p>
                </div>
            </div>
        </div>
    </section>